*.iml
.gradle/
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.log
.idea/
!.idea/codeStyles
app/build/
app/release/
/gradle/wrapper/gradle-wrapper.jar.bak
*.keystore
*.jks
secrets.properties
